@page
@model Website.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>
<p>Founded in 2023 by students of the CIS 400 course, 
    Fried Piper offers the finest and fastest of fried 
    confectioneries for your gastronomical delight.</p>
